[2019-10-23 03:20] jaredh-um opened #1 "[Design][Accessibility] Text and buttons over images are difficult to distinguish"
@tomstringer commented on [Tue Oct 01 2019](https://github.com/unimelb/Gen3/issues/64)

CTA buttons in header elements that use images are getting lost a little in the backgrounds.

Consider making them bolder under these circumstances, or some other treatment? Not convinced the current treatment will be ok from an accessibility pov.

Gen 1
![Screen Shot 2019-10-01 at 11 55 17 am](https://user-ima

[2019-10-30 23:12] tblundell opened #2 "[BUG] Pathfinder heading and text alignment"
## Is the feature request related to a problem? Please describe.

Vertical alignment of all elements (header, text, buttons) is non-uniform. Makes for more effort to read/skim.

<img width="1354" alt="Screen Shot 2019-10-31 at 10 03 26 am" src="https://user-images.githubusercontent.com/943446/67905590-ffc8f580-fbc5-11e9-933f-6ad741212f69.png">

## Describe the solution you'd like
Where all items a

[2019-10-30 23:24] tblundell opened #3 "Buttons ">" to stick to last letter of button text"
## Is the feature request related to a problem? Please describe.
The ">" arrow inside buttons should ideally stay with the last letter/word of button text. Sometimes it drops to be orphaned, leaving the text on the line above, and the arrow below.

## Describe the solution you'd like
The ">" to never be an orphan.

## Describe alternatives you've considered
nil

## Additional context
Current arrow

[2019-10-30 23:35] tblundell opened #4 "Address header text - perhaps to similar to actual address text"
[APOLOGIES - Not really a bug, more a UI layout issue ]
Using the below code the address header is perhaps a little to similar to the text for the address itself. Maybe some air in the form of a margin is all that's needed.

[code]

## Expected behaviour
To define the header so that it doesn't look like part of the address

## Current behaviour
<img width="385" alt="Screen Shot 2019-10-31 at 10 28

[2019-10-30 23:43] nmiller-unimelb opened #5 "[BUG] Headings used in custom site footer appear blue on a blue background"
All Gen 3 headings are a navy blue colour. This is normally fine, but when used in a custom site footer they appear navy blue on a royal blue background (see attached screenshot from the students.unimelb development site). This looks a bit funny.
I could style the individual headings to make the text white, but it might be better to update the CSS classes so that headings in a footer appear white?

[2019-10-30 23:53] nmiller-unimelb opened #6 "[BUG] Large homepage banners have faint horizontal line through them"
In Gen 3, large homepage banner images appear to have a faint horizontal line through them (see attached screenshots of careers.unimelb.edu.au in Gen 1 vs Gen 3 for example of this).
<img width="1435" alt="Screen Shot 2019-10-31 at 10 48 43 am" src="https://user-images.githubusercontent.com/24399570/67907540-4de0f780-fbcc-11e9-9761-41b77a4a92f1.png">
<img width="1434" alt="Screen Shot 2019-10-31 a

[2019-10-31 00:31] tomstringer commented on #5
@nmiller-unimelb Can you give us a URL for this one please?

[2019-10-31 00:32] tomstringer commented on #2
@tblundell Can you give us a URL for this one that we can take a look at?

[2019-10-31 00:32] nmiller-unimelb commented on #5
Apologies @tomstringer - https://cms.unimelb.edu.au/controlled-environment/students

[2019-10-31 01:00] tblundell commented on #2
oops, sorry.
Top screenshot : https://lms.unimelb.edu.au/_recache#blackboard-lms
Second screenshot: https://lms.unimelb.edu.au/_recache#canvas-lms

[2019-10-31 01:11] tomstringer opened #7 "[Design] Extraneous bottom-border on title of open accordions"
Accordions display a bottom-border under the title element. When open, this should not be displayed.

In Gen1, the `bottom-border` is attached to the parent `li` element only. In the open state, it also inherits a new colour.

![Screen Shot 2019-10-31 at 12 01 10 pm](https://user-images.githubusercontent.com/924501/67910520-23e10280-fbd7-11e9-9071-dadc83d5488c.png)

[code]
In Gen3, both the parent

[2019-10-31 03:38] tblundell opened #8 "Standardise alignment of margins when using class="half" component"
*** NOTE:
- This is for responsive only (when 2 cols become 1)
- This is an enhancement for both versions of the brand design system (its apparent in 2 - so carried over to 3).

## Is the feature request related to a problem? Please describe.
When viewing on a mobile/scaled small screen the 2 column layout has 3 margin depth settings, rather than one alignment. Effected elements are IMG, P, H2, an

[2019-10-31 04:37] tblundell opened #9 "[BUG] Horizontal scroll when header not collapsed"
I just noticed one of our pages (eg: https://le.unimelb.edu.au/news/articles/learning-and-teaching-initiative-lti-grants-2020) sometimes allows you to scroll left.
Ive only checked in safari.

NOTE: I've noticed the behaviour on a page containing the left nav injection - ON THIS PAGE - (content anchors), although the links remain fixed.

![left-scroll-issue](https://user-images.githubusercontent.c

[2019-11-04 03:47] jaredh-um commented on #2
Looks like we need to change the heading font to more closely align with the behaviour of the original component.

@makenosound

- [ ] Adjust heading font to be Source Sans Pro Bold, 1.25rem, standard text-transform
- [ ] Adjust height of heading section to be fixed and allow for up to three lines of heading text, vertically and horizontally centering the text within its section
- [ ] If this intr

[2019-11-04 03:57] jaredh-um commented on #3
@makenosound
- [ ] Prevent `:after` pseudo element from wrapping by itself

[2019-11-04 23:02] jaredh-um commented on #4
@makenosound

- [ ] Update `font-weight` on selector `.uomcontent [role="main"] .contact-box dt` to 700

[2019-11-04 23:04] jaredh-um commented on #6
Will be addressed by tickets #84 and #95

[2019-11-04 23:12] jaredh-um commented on #7
@tomstringer have you got a URL for this one? The documentation site doesn't have a similar example

[2019-11-04 23:24] tomstringer commented on #7
Oh sorry @jaredh-um

https://web.unimelb.edu.au/components/accordion/ for DDS

You can use https://cms.unimelb.edu.au/controlled-environment/erb-workstream1/services/arts/arts-research-office/_nocache with the Gen3 design applied for an example.

[2019-11-05 00:08] jaredh-um commented on #8
@makenosound mobile breakpoints seem to inherit desktop-specific properties that make the experience pretty inconsistent.

- [ ] There's a `width: 94%` set on most typographic elements. Do we need this? (we don't on mobile at least)

![Screen Shot 2019-11-05 at 10 21 41 am](https://user-images.githubusercontent.com/34703139/68168277-65e5bc00-ffbc-11e9-890b-c9ecf639421a.png)

- [ ] Images fill a si

[2019-11-05 00:26] tblundell opened #10 "[BUG] Mobile: tables - spacing below <a> text greater than plain text in table cells"
## Expected behaviour
Consistent bottom spacing between the text and table cell (?)

## Current behaviour
On small screens, plain table text (not wrapped in `<p>`) has less space between text bottom and cell. (see screenshot below).

## Steps to reproduce

1. build table with text in a cell, and text wrapped in `<a>` in another
2. load page on mobile.

### Affected browsers

- [ ] Chrome
- [ ] Fir

[2019-11-05 00:27] jaredh-um commented on #9
@makenosound there appears to be an issue with the way the width is set on the Breadcrumbs.

![Screen Shot 2019-11-05 at 11 25 17 am](https://user-images.githubusercontent.com/34703139/68169085-04731c80-ffbf-11e9-8766-804c1620f6b6.png)

Removing the following resolves the immediate issue:
![Screen Shot 2019-11-05 at 11 23 39 am](https://user-images.githubusercontent.com/34703139/68169096-0d63ee00-

[2019-11-05 00:33] tblundell commented on #10
Also, guessing the first header having top-border:0 is expected, but thought id mention in case the first child is meant to have a top border (not only bottom & sides).

[2019-11-05 00:43] jaredh-um commented on #7
Hi @makenosound can you please make the adjustments as per Tom's notes above - colour for point 2 is Navy Main #094183 which will provide sufficient contrast for this element.

[2019-11-05 02:31] jaredh-um commented on #5
@makenosound

The Gen 1 design system doesn't seem to have any general provision to invert text colours when certain backgrounds are used.

- [ ] Add a `color` property to a broad heading selector to change headings to white when the `cta` class is used (as this has the background colour)

[2019-11-05 02:46] jaredh-um commented on #10
@makenosound couple of quirks on mobile here:

- [ ] Amend padding so it is consistent across cells - currently this selector is making those cells lose their bottom padding (not sure why they wanted that):

![Screen Shot 2019-11-05 at 1 37 12 pm](https://user-images.githubusercontent.com/34703139/68174402-18744980-ffd2-11e9-93f4-1f43c1848d37.png)

- [ ] Per Tim's second point around the header ce

[2019-11-06 03:58] rothenburycam opened #11 "[BUG] Breadcrumb selector on mobile overflows"
## Expected behaviour
On mobile, the page title in the breadcrumb selector should be contained with the select box.

## Current behaviour
On mobile, the page title in the breadcrumb selector overflows the select box.

## Steps to reproduce
https://mspace.unimelb.edu.au/courses/profession/community-services
![Screen Shot 2019-11-06 at 2 55 04 pm](https://user-images.githubusercontent.com/11714609/6

[2019-11-06 04:03] rothenburycam opened #12 "[BUG] Weird white line floating over home banner image"
There's a weird thin white line floating on top of Home Page banner images. Appears to demarcate the bottom of the navigation menu, but it would be better if it wasn't there at all.

## Expected behaviour
No white line should appear.

## Current behaviour
A white line appears over the image in both desktop and mobile.

## Steps to reproduce
![Screen Shot 2019-11-06 at 2 59 05 pm](https://user-imag

[2019-11-06 23:52] catherinehunt opened #13 "[BUG] Jumpnav anchors not easy to scan"
In the anchors of the Jumpnav, the text is now a bit larger than before and thus items are more likely to flow onto two lines. Also, the horizontal rules are gone. This makes the anchors much more difficult to scan through. They kind of blend into each other.

## Expected behaviour
Anchors that are easy to scan through (users need to be able to easily identify the beginning of each anchor)

## Cur

[2019-11-07 00:05] catherinehunt opened #14 "[BUG] Warning button isn't red enough"
The colour of the warning button is very tasteful and on-brand, but doesn’t really say ‘warning’ to me.  At least on my monitor, it displays as quite brown. Ditto for the "danger" notice class.

## Expected behaviour
Red-coloured button

## Current behaviour
Red-brown button (russet??)

## Steps to reproduce
`<a class="button warning">Warning</a>`

### Affected browsers
- [X] Chrome
- [ ] Firefox

[2019-11-07 00:19] catherinehunt opened #15 "[BUG] Hero button on notice isn't readable"
When a hero button is placed on a notice, the text isn't readable, because it's a medium blue that doesn't have enough contrast with the button colour.

## Expected behaviour
Hero button has white text

## Current behaviour
Text is blue

## Steps to reproduce

![image](https://user-images.githubusercontent.com/33853991/68349152-41224d80-0150-11ea-9454-dced6d3dac8c.png)

There's an unpublished nest

[2019-11-07 00:19] jaredh-um commented on #12
Duplicate of #6, to be addressed by #84 and #95

[2019-11-07 02:01] sprinsloo opened #16 "[BUG] MBS logo cut off"
The Melbourne Business School has a co-branded logo. The bottom section of the logo is being cut off in Gen3

## Expected behaviour
Logo to be displayed in full

## Current behaviour
Logo cut off
![Screen Shot 2019-11-07 at 12 52 40 pm](https://user-images.githubusercontent.com/4556924/68353394-8ef18280-015d-11ea-9376-8490835d553d.png)

## Steps to reproduce
See https://mbs.unimelb.edu.au/

### Af

[2019-11-07 02:24] dkevey commented on #16
@tomstringer it looks like this one needs to be addressed in our cobranded overrides file.
https://cms.unimelb.edu.au/central-site-management/template-assets/co-branded-logo/double-width-log-css.css

new width of 280px seems to work.
[code]
![image](https://user-images.githubusercontent.com/1305804/68354765-5a7fc580-0161-11ea-9c5a-b7d5b963b80d.png)

Also happening for https://asialink.unimelb.edu.

[2019-11-07 02:26] sprinsloo commented on #16
We have a similar issue with the Melbourne Institute site where the identifier appears to be over the logo.
![Screen Shot 2019-11-07 at 1 25 02 pm](https://user-images.githubusercontent.com/4556924/68355005-0c1ef680-0162-11ea-97e7-e4e0b3961a66.png)

[2019-11-07 02:58] dkevey opened #17 "[BUG] Asialink custom css (local to CMS)"
Asialink custom css
- home logo (line in `page-header-home `)
- breadcrumbs
- tabbed nav
- footer (button)

https://asialink.unimelb.edu.au/

Gen 1

![image](https://user-images.githubusercontent.com/1305804/68356497-98331d00-0166-11ea-9658-f36b8c5ca5f9.png)

Gen 3
![image](https://user-images.githubusercontent.com/1305804/68356281-f6abcb80-0165-11ea-80b4-6378276773bd.png)

https://asialink.unimel

[2019-11-07 03:33] jaredh-um commented on #14
Hi @catherinehunt, you're spot on about the colour - it's actually the Orange Dark from our [digital colour palette](https://zeroheight.com/9jcq7n41q/v/draft/p/7641d0) as we don't have any reds! Was before my time so I can't explain the reasoning for that.

Anyway, I completely agree and I think for the sake of clarity that we can make an exception in this case. Top button pictured below uses an u

[2019-11-07 22:45] dkevey commented on #16
[code]

[2019-11-07 23:36] dkevey commented on #17
CSS design switch in place for Asialink - new overrides will be viewed when using design switcher. See JIRA TS-560 for more info.

- https://asialink.unimelb.edu.au/_recache
- https://asialink.unimelb.edu.au/asialink-dialogues-and-applied-research/_recache

[2019-11-07 23:36] #17 closed

[2019-11-08 05:37] woowoowoo opened #56 "Update Faculties and Graduate Schools link in footer"
About.us has been rearranged.
This link was changed in Pattern Library, but missed in Design System.
old: http://about.unimelb.edu.au/governance-and-leadership/faculties
new: https://about.unimelb.edu.au/strategy/our-structure/faculties-and-graduate-schools

[2019-11-11 00:35] #6 closed

[2019-11-11 00:35] #12 closed

[2019-11-11 06:00] venatiusj opened #18 "[BUG] No space between blockquote and citation"
## Expected behaviour
1) Needs equal spacing above and below the blockquote
2) Requires a space between the en dash and citation.

## Current behaviour
1) No space between `<blockquote class="blockquote-classic">` and `<cite>`
2) No space between en dash (–) and citation.

## Steps to reproduce
Eg: https://mspace.unimelb.edu.au/#study-with-us
![image](https://user-images.githubusercontent.com/3373

[2019-11-11 06:13] venatiusj opened #19 "[BUG] Pathfinders height is not consistent on tablet view"
## Expected behaviour
On tablet view, height of the pathfinder boxes should be set equal to one that has the max content.

## Current behaviour
Height is inconsistent as it's dependent on text content on tablet view.

## Steps to reproduce
URL: https://online.unimelb.edu.au/#support
![image](https://user-images.githubusercontent.com/33737262/68564684-588d6d80-04a5-11ea-80f2-6df45a12acb2.png)

###

[2019-11-11 06:22] venatiusj opened #20 "[BUG] Bold does not apply to `profilename` and `title` under "staff-listing-detailed""
## Expected behaviour
Profile name, title/address should have a different style from description.

## Current behaviour
There's no difference in text styles for `profile name`, `title` / `address` and profile description/blurb.

## Steps to reproduce
URL: https://online.unimelb.edu.au/#online-learning-experience
![image](https://user-images.githubusercontent.com/33737262/68565198-df8f1580-04a6-11e

[2019-11-12 03:32] jaredh-um commented on #11
Hi @makenosound, this looks like a similar issue to #75. I realise the chevron and line are pseudo elements, but is there some way of making that section of the select have a background colour (or put a margin-right on the select itself) to prevent the select text overlapping that area?

- [ ] Adjust styling to prevent select text entering dropdown chevron area

[2019-11-12 03:50] jaredh-um commented on #13
Hi @makenosound

Can we please make the following adjustments:
- [ ] Remove bottom-margin set on `a` items (unless this is necessary for some reason)
- [ ] Add top and bottom padding to `li` items of around 8px/0.5rem
- [ ] Add bottom-border of Navy Mid 1 #ABBED5 to the `li` items

#### Previous

![Screen Shot 2019-11-12 at 2 33 09 pm](https://user-images.githubusercontent.com/34703139/68640171-03

[2019-11-12 03:56] jaredh-um commented on #15
Hey @makenosound can you double check that this button class has it's own `color` set? Or is it being overidden by the notice component?

- [ ] Make button text visible when nested in notice component

[2019-11-12 04:10] jaredh-um commented on #18
Hey @makenosound

- [ ] For blockquote-classic, match the citation style of the standard blockquote

[2019-11-12 05:36] tonyz opened #21 "[BUG] Link spacing on class="jump-navigation" should be greater. Too close together at the moment."
## Expected behaviour
More spacing between each link

## Current behaviour
Looks and feels like one continuous link.

## Steps to reproduce
https://eng.unimelb.edu.au/engage/indigenous/views

### Affected browsers

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] IE 11
- [ ] Safari 8+
- [ ] iOS 8.4+
- [ ] Android 4.4+

## Possible solution

[2019-11-12 05:40] tonyz opened #22 "[BUG]Not really a bug... H2 suggestion"
## Expected behaviour
H2's currently have 'font-size: 2rem' styling.
Consideration for H2's to have 'font-size: 1.5rem' styling?

## Current behaviour
H2's currently have 'font-size: 2rem' styling

## Steps to reproduce
https://eng.unimelb.edu.au/engage/indigenous/views

### Affected browsers

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] IE 11
- [ ] Safari 8+
- [ ] iOS 8.4+
- [ ] Android 4.4+

## P

[2019-11-12 21:52] jaredh-um commented on #19
Should be addressed by issue #2.

[2019-11-12 22:04] jaredh-um commented on #21
Hi @tonyz, this is being addressed in issue #13.

[2019-11-12 22:04] #21 closed

[2019-11-12 22:05] jaredh-um commented on #13
Duplicated in issue #21 (closed)

[2019-11-12 22:12] jaredh-um commented on #20
Hey @makenosound

- [ ] Adjust `.uomcontent .staff-listing-detailed strong` to use `font-weight: 600` instead of `400`

[2019-11-12 22:28] jaredh-um commented on #22
Hi @tonyz there is currently a ticket in to change the font family of the standard H2s to Source Sans Pro, which is visually more condensed than the current Noto Serif.

#### Before

![Screenshot_2019-11-13 Victorian Indigenous Engineering Winter School](https://user-images.githubusercontent.com/34703139/68716166-b92cbf80-05f7-11ea-880c-6867274e0149.jpg)

#### After

![Screenshot_2019-11-13 Victor

[2019-11-12 22:34] jaredh-um opened #23 "[Design] P text in headers uses too light a font weight"
#### Currently

Default `p` text in headers uses a light font weight, which makes the text somewhat difficult to read.

![weak p text in header to log.png](https://images.zenhubusercontent.com/5acae0cd4b5806bc2bce3338/71a3eb12-729e-48b9-927d-4e50958356d2)

#### Proposed change

- [ ] Adjust `font-weight` on `.uomcontent [role="main"] > header:first-child p, .uomcontent [role="main"] header p` to `

[2019-11-14 00:40] jporich opened #24 "[Design] Add padding by default to Page Listing CCT"
![Screen Shot 2019-11-14 at 11 31 36 am](https://user-images.githubusercontent.com/10070570/68816743-6de7df00-06d3-11ea-86e0-dad9d5bcd946.png)

## Is the feature request related to a problem? Please describe.
At present the Page Listing CCT doesn't insert extra padding on the top or bottom when viewed on the front end.

This means WYSIWYG sections making use of `<section>` to add padding are visua

[2019-11-14 01:16] dkevey commented on #24
Hi @jporich do you have some public URLS that we can look at please?

[2019-11-14 01:29] jporich commented on #24
Cursory look through there's a difference depending on if a title is added or not:

(Page listing - _without_ title)

- Example 1: https://mdhs.unimelb.edu.au/engage/partners/_nocache#research-institutes

This page listing has a style attribute of `padding-top: 30px`. Compared to the previous tab (partners overview) where the section element has a `padding-top: 3rem;`

- Example 2: https://medicin

[2019-11-14 02:01] dcollett opened #25 "[BUG] p & ul text colour in timeline component differs"
When using a timeliine component, ul text colour is #66666 but p text colour is the body default of #272727

## Expected behaviour
Text will be a consistent colour when using either p  or ul

## Current behaviour

## Steps to reproduce
See https://le.unimelb.edu.au/new-lms#jump5

![Screen Shot 2019-11-14 at 1 00 15 pm](https://user-images.githubusercontent.com/1088483/68820438-5878b200-06df-11ea-8

[2019-11-14 02:12] tomstringer commented on #25
Also, should those dates be sentence-cased @jaredh-um ?

[2019-11-14 04:25] jaredh-um commented on #24
@dkevey is this a thing for you to address? Let me know if there's something Max might need to do

[2019-11-14 04:31] jaredh-um commented on #25
Hi @makenosound

- [ ] Adjust `.uomcontent .timeline ul li` to use standard body `p` colour #272727
- [ ] Remove `text-transform: uppercase` from `.uomcontent .timeline dt`

[2019-11-14 04:46] jaredhenderson opened #26 "[Bug] Pathfinder buttons overlap on resize"
#### Currently

At certain resolutions, pathfinder buttons overlap each other, which makes the text not look like it is centre aligned properly.

Example from bottom of page here: https://le.unimelb.edu.au/new-lms#jump5

![Screen Shot 2019-11-14 at 3.36.32 pm.png](https://images.zenhubusercontent.com/5acae0cd4b5806bc2bce3338/df15a120-7883-42cd-8e7a-9e233779f170)

#### Proposed solution

I'm a bit

[2019-11-14 04:58] dkevey commented on #24
Sorry I can't see what the issue is on those examples do you mind popping in some screenshots as well?

[2019-11-14 22:40] jporich commented on #24
##Example 1
Note, attaching what users are doing as a workaround as the CCTs have insufficient padding

(Note: Issue is same in Gen 1 and Gen 3 - forgot to do as Gen 3 but hopefully you get the point)

![Screen Shot 2019-11-15 at 9 10 30 am](https://user-images.githubusercontent.com/10070570/68901149-80245480-0789-11ea-8b09-af2d6e663567.png)
![Screen Shot 2019-11-15 at 9 14 07 am](https://user-ima

[2019-11-14 22:46] jporich commented on #24
# CCT padding after a Lead paragraph
Note:

In these examples - where CCT's follow a Lead paragraph of text I'm assuming that we want our CCTs to be consistent with other elements in our sites - as such any "block" following a lead paragraph should probably have 0 padding on top.

Take from https://arts.unimelb.edu.au/school-of-culture-and-communication#welcome

![Screen Shot 2019-11-15 at 9 43 44

[2019-11-15 00:43] jporich commented on #24
@dkevey see above for screenshot examples of the differing padding between CCT variants.

[2019-11-15 04:44] rothenburycam opened #27 "[BUG] 4 pathfinder with image background squished"
4 pathfinder with image background - looks very squashed. Note that 3 pathfinder with image looks fine. Title font also looks weird.

## Expected behaviour
Spacing should be consistent and aesthetic.

## Current behaviour
4 pathfinder with image background - looks very squashed.

## Steps to reproduce
https://mspace.unimelb.edu.au/_recache#study-with-us
![Screen Shot 2019-11-15 at 3 42 20 pm](http

[2019-11-15 04:45] rothenburycam opened #28 "[BUG] Blockquotes look bad"
Blockquote looks a bit weird - citation should be tightened up. Styling not very nice on the quote itself.

## Expected behaviour
The citation should be tightened up and more nuances aesthetic treatment applied.

## Current behaviour
![Screen Shot 2019-11-15 at 3 44 56 pm](https://user-images.githubusercontent.com/11714609/68917560-f2635c00-07be-11ea-96b8-a15dd0f0fdce.png)

[2019-11-18 00:23] dkevey commented on #24
Hi @jporich thanks for sending through the examples. As far as we can see the issue exists in Gen 1 already and is quite complicated given mixed usage. We're going to tag this as something to tackle in Gen 4.

[2019-11-18 00:50] jporich commented on #24
😵 ⚰️ ✝️

[2019-11-18 01:27] tomstringer commented on #24
Gen 4 just means any new stuff :-)

[2019-11-18 03:04] tomstringer commented on #28
@rothenburycam Can you give us a link for this one? (Easier than us having to hunt down an example)

[2019-11-18 03:49] jaredh-um commented on #27
@rothenburycam it appears the soft pathfinder class has a max-width applied to it that is not applied to other pathfinder types.

@makenosound can you check the following:
- [ ] The pathfinder-4 soft class has a max-width of 1100px set, overriding the usual max-width of 87.5rem. Can this lower width be removed?
- [ ] The H2 in the pathfinder section is inheriting a strange font-size because it is

[2019-11-18 03:52] jaredh-um commented on #28
@rothenburycam I think @venatiusj has beaten you to this one. Being addressed in issue #18

[2019-11-18 03:52] #28 closed

[2019-11-18 04:17] dkevey commented on #16
@sprinsloo do you know if Melbourne Institute has an approved logo for use on the new UoM blue background?  Looking for a better alternative than the white logo for the breadcrumbs.

![image](https://user-images.githubusercontent.com/1305804/69024283-369c6980-0a16-11ea-90d6-45d69c8622f7.png)

also need an SVG version for MBS - the PNG version isn't very sharp.
![image](https://user-images.githubus

[2019-11-18 04:24] venatiusj commented on #28
hi @jaredh-um thanks for actioning this.

I just hard refreshed and tried again (Gen 3), it doesn't seem to be resolved:
https://mspace.unimelb.edu.au/#study-with-us

Should I be doing something differently?

[2019-11-18 04:27] jaredh-um commented on #28
Sorry @venatiusj your original ticket is still in the backlog to be actioned

[2019-11-18 04:34] venatiusj commented on #28
( ͡° ͜ʖ ͡°) @jared-um all good, thanks

[2019-11-18 04:35] venatiusj commented on #28
( ͡° ͜ʖ ͡°)  @jaredh-um all good, thanks.

[2019-11-18 06:33] tonyz opened #29 "[BUG] Serif font and weighting"
New design feedback:
Serif font in the banner and headings looks dated and wrong for web, and definitely wrong for MSE.

## Expected behaviour
Source Sans Pro Semibold would be a more web-appropriate choice

## Current behaviour
Currently displaying San Serif font

## Steps to reproduce
The font weighting in events is too strong in Gen 3, impacting the look and readability
https://eng.unimelb.edu.

[2019-11-18 23:59] tomstringer commented on #25
Resolved with unimelb/Gen3#125

[2019-11-18 23:59] #25 closed

[2019-11-19 00:43] tomstringer commented on #4
This one needs a bit more thought... There are three separate box types described on this page: https://web.unimelb.edu.au/components/text/

Bolding the `dt` elements of the `contact-box` looks ok.

![Screen Shot 2019-11-19 at 11 40 29 am](https://user-images.githubusercontent.com/924501/69106087-6fdde380-0ac1-11ea-8cdc-b43143227a2c.png)

But if it's extended to the others, it looks a bit odd.

![

[2019-11-19 02:15] tomstringer commented on #10
This one needs some more thinking. Those styling changes work ok on a simple table, but on more complex tables the lack of borders begins to get problematic.

See: https://web.unimelb.edu.au/components/tables/

![Screen Shot 2019-11-19 at 1 14 30 pm](https://user-images.githubusercontent.com/924501/69110352-93f3f180-0ace-11ea-9f94-5aa7f90550a1.png)

[2019-11-19 02:27] tomstringer commented on #14
This one also needs a bit more attention.

Red works ok on buttons, though the current hover state probably needs review (currently #984140).

Notices have both `warning` and `danger` classes: https://web.unimelb.edu.au/components/notices/

Red background on `danger` looks a bit hectic.

![Screen Shot 2019-11-19 at 1 24 33 pm](https://user-images.githubusercontent.com/924501/69110961-411b3980-0ad0

[2019-11-19 02:32] jaredh-um commented on #10
@tomstringer I can't really see the CSS in full - are there breakpoint-specific properties for these tables? The issue raised was just for mobile; if the fixes can be scoped to that it might be fine?

[2019-11-19 02:44] jaredh-um commented on #10
@tomstringer I've just re-applied the suggested fixes in the browser and it's working on mobile only there. I can't really suggest anything else here without seeing/understanding the full CSS (which is probably best left to an expert at this stage)

[2019-11-19 03:23] tomstringer commented on #15
@jaredh-um the hero-button currently has `background-color: color(var(--col-tertiary-navy) alpha(80%));`

Changing that to `background-color: transparent` is more in line with the Gen1 style, but in Gen3 the text color inherits.

![Screen Shot 2019-11-19 at 2 15 39 pm](https://user-images.githubusercontent.com/924501/69113567-78411900-0ad7-11ea-9d1e-31f0f137c30d.png)

The hover state for all of th

[2019-11-19 03:36] tomstringer commented on #18
This change makes the two styles more-or-less indistinguishable. Not sure if that's the intention @jaredh-um?

![Screen Shot 2019-11-19 at 2 35 55 pm](https://user-images.githubusercontent.com/924501/69114592-facad800-0ad9-11ea-909d-482163b5ca89.png)

[2019-11-19 03:43] tomstringer commented on #23
This is a local style override on the MSPACE site. Removing the local style corrects it.

![Screen Shot 2019-11-19 at 2 42 54 pm](https://user-images.githubusercontent.com/924501/69114900-eaffc380-0ada-11ea-891f-b5a7d8e0f651.png)

[2019-11-19 03:43] #23 closed

[2019-11-19 04:39] #22 closed

[2019-11-19 04:39] #29 closed

[2019-11-19 23:19] tblundell opened #30 "[BUG] Accessibility of Pathfinder "feature" box ::hover state"
Just thought I'd query the accessibility of the pathfinder box with class="featured" when in the :hover state. The background, text and button are all very similar. This issue should only be applicable to desktops as Mob/touch devices don't really make use of hover.

## Expected behaviour
On ::hover the content should ideally be more legible.

## Current behaviour
Button and text have low contrast

[2019-11-19 23:37] #27 closed

[2019-11-19 23:38] #10 closed

[2019-11-19 23:41] #20 closed

[2019-11-20 00:04] #4 closed

[2019-11-20 02:34] jaredh-um commented on #18
The old ones are not aesthetically pleasing. We can revisit styling the 'new' variant at some stage but just thought I'd stick with something predictable for now.

![Screen Shot 2019-11-20 at 1 31 37 pm](https://user-images.githubusercontent.com/34703139/69204173-42b13400-0b9a-11ea-9e2a-56aef141cf78.png)

[2019-11-20 03:08] jaredh-um commented on #14
@tomstringer cool, let's address the button itself here and I'll re-jig the notice ticket to resolve the other issues.
I've amended my comment above with an additional value for the hover background colour.

[2019-11-20 03:39] #14 closed

[2019-11-20 04:22] jaredh-um commented on #15
@tomstringer I'm reluctant to revert the hero button to the previous ['ghost'](https://uxplanet.org/ghost-buttons-in-ux-design-4cf3717334f8) styling as it's the least visible button when it's styled that why - and it's supposed to be a primary CTA, not a secondary.

We can address the text colour as one issue, but I think the requirement for an outline button probably still remains - but it should

[2019-11-21 00:22] jaredh-um commented on #30
It looks like the 'featured' class doesn't work optimally with the white and soft pathfinder types. The below needs to be repeated for the 3 and 4 type pathfinders also.

- [ ] Amend `.uomcontent [role="main"] .pathfinder-2.white a.featured p, .uomcontent [role="main"] .pathfinder-2.white a.featured span.text, .uomcontent [role="main"] .pathfinder-2.white a.featured strong` to have `color` white

[2019-11-21 05:23] jporich opened #31 "[BUG] "Article" Page Template headings have drop shadow even if there is no banner image set"
## Expected behaviour
At the moment in Gen 1, if we have any pages making use of the "Article" Page Template - if there is no banner set there is a blue background (with white text).

In Gen 3 we would expect something similar (dark background, white text)

## Current behaviour
At present there is no background, and the text colour is blue - however there is still the presence of a drop shadow
![S

[2019-11-21 23:55] jaredh-um commented on #31
Hey Jimmy, definitely need to drop the drop shadow as it was only intended to help with legibility over images. Right now it's triggering memories of playing with the Eye Candy plugin in Photoshop in the 90s

- [ ] Amend one of the selectors below to have the property `text-shadow: none` to remove the shadow when there is no image used (possibly the second selector that has the color property?)

!

[2019-11-24 21:51] #7 closed

[2019-11-25 04:08] tomstringer commented on #30
I think this was fixed with unimelb/gen3#142

[2019-11-25 04:08] #30 closed

[2019-11-25 04:22] tomstringer commented on #18
Some small changes have been made to these styles, but this is a bigger conversation that needs to happen as part of Gen 4. I'll move it back into the backlog.

[2019-11-25 04:29] tomstringer commented on #16
@jaredh-um Did we get anything further from the brand team about the dual lockup logos?

[2019-11-25 04:39] #31 closed

[2019-11-26 03:42] rodley87 opened #32 "[QUESTION] Will circular aperture be applied to profile images?"
Example: [Scholarships](https://scholarships.unimelb.edu.au/)
Profiles listing at foot of page

**Current behaviour:**
![Screen Shot 2019-11-26 at 2 10 42 pm](https://user-images.githubusercontent.com/18609010/69596737-b8644680-1057-11ea-993d-5b966ec7e7fe.png)
Applied via this CSS:
[code]

**Gen3 behaviour:**
Image displayed as per its pixel dimensions, with no overlaying aperture
![Screen Shot 20

[2019-11-26 04:04] jaredh-um commented on #32
Hi @rodley87, the circular treatment for profile photos has been deprecated as per previous Brand guidance 😄

[2019-11-26 04:41] #32 closed

[2019-11-26 22:46] jaredh-um commented on #16
Sent an email this morning asking for suitable versions of the following:
- MBS
- Melbourne Institute
- Asialink

I have the Bio21 logo on hand ready for export.

[2019-11-28 01:43] woowoowoo opened #33 "[BUG] table data-labels incorrectly offset"
A complex table with double level headers causes data-label attributes to be assigned to the wrong column in the table body.

This table has a header row with a colspan of 4, and a second header row for the individual columns.
The JavasScript which generates the data-label attributes seems to be confused by the extra header, and assigns headers incorrectly to the subsequent columns.

![Screen Shot

[2019-11-28 02:24] dkevey commented on #26
@jaredh-um from memory there has always been a bug with the white/soft pathfinders when they are set to 4 (instead of 3). It's got to do with the padding on either side not being present on 4 boxes. (as it it's always been a bug). Would be nice to get it fixed if possible

https://resources.web.unimelb.edu.au/_nocache
![image](https://user-images.githubusercontent.com/1305804/69771333-8f22f200-11e

[2019-11-28 05:31] tblundell opened #34 "[Design] Page Listing content template needs styling options added"
Within the Martix environment, the "Page Listing" component outputs `<div>` when the Styling-> Presentation is set to Section.
The `div` wrapper has less top/bottom padding than 'section', and the extra space would be nice when using the `.alt` background.

## Expected behaviour
When selecting 'Section' in the dropdown options for Properties, the component in the outputted HTML should wrapped in a

[2019-11-29 00:18] jaredh-um commented on #26
@dkevey the grey line is a border-left that is only applied to the pathfinder-3 class apparently. You're correct that the pathfinder-4 class has multiple cascades of padding applied that eventually cancel out to 0 anyway. I'm struggling to understand the logic behind the amount of CSS for these pathfinders; to be honest I feel like the whole lot should be ditched and rewritten because it's such a

[2019-11-29 00:24] makenosound commented on #26
This is definitely true. The pathfinder stuff is particularly hard to understand and super intertwined.

[2019-11-29 00:28] jaredh-um commented on #26
@makenosound totally your call if you think the CSS for these should be completely scrapped. I feel like it could certainly be simplified/genericised across the different pathfinder types/amounts

[2019-11-29 00:31] makenosound commented on #26
Yeah, it’s tricky. I think it could be rewritten to be _much_ simpler, but there are a bunch of versions out there in the wild that’ll be hard to test against (which is why I’d hesitated in the initial passes here).

[2019-11-29 00:33] jaredh-um commented on #26
True. I wonder if @dkevey can provide some info on how these are used in a report or something?

[2019-12-01 22:00] dkevey commented on #34
Hi @tblundell the section classes and styles don't work when Content Templates are used. This is similar to #24  and we will look at implementing additional styling options inside the Content Template themselves to help with background colour and padding/margin. Marking this one for Gen 4 as we need to rework Content Templates anyway.

[2019-12-01 22:04] dkevey commented on #24
Will add background and styling options - related to #34

[2019-12-01 22:39] dkevey commented on #26
@jaredh-um since it's a pre-existing bug I think we should mark this one to refactor in Gen 4.

[2019-12-02 21:59] tomstringer opened #35 "Melbourne Institute - dual logo update"

[2019-12-02 21:59] tomstringer opened #36 "Asialink - dual logo update"

[2019-12-02 21:59] tomstringer opened #37 "Bio21 - dual logo"

[2019-12-02 22:24] jaredh-um commented on #16
MBS logos attached.

mbs_housed.svg - contains white background
mbs_reversed.svg  - contains no background, suitable for use on navy

[mbs_logos.zip](https://github.com/unimelb/design-system-issues/files/3913545/mbs_logos.zip)

[2019-12-02 22:25] jaredh-um commented on #35
Melbourne Institute logos attached.

melbourne_institute_reversed_tagline.svg - suitable for use on navy
melbourne_institute_reversed_no_tagline.svg - suitable for use on navy

[melbourne_institute_logos.zip](https://github.com/unimelb/design-system-issues/files/3913553/melbourne_institute_logos.zip)

[2019-12-02 22:27] jaredh-um commented on #36
Asialink reversed logo attached (co-branded version still TBC).

asialink_reversed.svg - suitable for use on navy

[asialink_logo.zip](https://github.com/unimelb/design-system-issues/files/3913556/asialink_logo.zip)

[2019-12-02 22:27] jaredh-um commented on #37
Bio21 logo attached.

bio21_reversed.svg - suitable for use on navy

[bio21_logo.zip](https://github.com/unimelb/design-system-issues/files/3913560/bio21_logo.zip)

[2019-12-02 22:34] jporich opened #38 "[BUG] <sup> doesn't have a size change when used with class="lead""
## Expected behaviour

font-size: 75% should be applied to all `<sup>` elements as used in uom.css for Gen 1 regardless of whether they are in body or lead or headings.

## Current behaviour

No sizing modification is made at all - leading to huge superscripts in lead text. `<sup>` is getting "font-size: 1.375rem;" applied

## Steps to reproduce

![screencapture-cms-unimelb-edu-au-controlled-envir

[2019-12-02 22:43] tomstringer commented on #38
😳

Good pick up.

[2019-12-02 23:01] jporich opened #39 "[BUG] No top padding on <h2 class="title"> if the CCT doesn't have .content-template (Pathfinder CCT identified)"
## Expected behaviour

At present `<h2 class="title">` elements don't have any top-padding in CCTs that don't have `class="content-template"`

## Current behaviour

It appears top-padding has been removed across the board, and there's specifically a CSS rule for `.content-template h2.title { padding-top: 1.5rem; }` that's been created in gen 3. However weirdly it looks like the pathfinder CCT _doe

[2019-12-02 23:12] sprinsloo commented on #16
Sorry guys, I was away on annual leave.

[UOM-MelbInstitute_SEC_RGB.ai.zip](https://github.com/unimelb/design-system-issues/files/3913682/UOM-MelbInstitute_SEC_RGB.ai.zip)

Here is the Illustrator file for the Melbourne Institute logo. We can replace the Uni logo with the correct uni-blue version. Let me know if you want me to update the file.

We don't look after AsiaLink, I think that sits with

[2019-12-03 00:12] jporich opened #40 "[FEATURE] (possible duplicate) 'Filtered page listing' Page Template needs to sort by Asset Map - not alphabetical"
Note: Appears I've been removed from previous repo's and can't seem to find original submission. Resubmitting here

## Is the feature request related to a problem? Please describe.
At present, the [Filtered page listing](https://resources.web.unimelb.edu.au/controlled-environment/templates/special/filtered-list) Page template does not sort the third-level (individual page) by Asset Map position, b

[2019-12-03 01:28] KarlS75 opened #41 "[BUG] Title text overlaps on Header with Box template"
When the title test wraps to a second line in the Header with Box template, the words overlap making it difficult to read.

## Expected behaviour

The two lines of text should appear with a space in between

## Current behaviour
The two lines of title text overlap

## Steps to reproduce

1.
![MCE3 0 Title bug - header with box template](https://user-images.githubusercontent.com/58237741/70012092-7

[2019-12-03 01:37] tomstringer commented on #41
@KarlS75 Can you give use a URL for this so we can have a closer look please?

[2019-12-03 01:39] KarlS75 commented on #41
Oh yes. Sorry about that!

https://education.unimelb.edu.au/mgse-industry-reports/report-1-those-who-disappear/report-child-pages/so-how-do-we-actually-lose-track-of-students

https://education.unimelb.edu.au/mgse-industry-reports/report-1-those-who-disappear/report-child-pages/dont-all-children-need-to-be-in-school-what-are-governments-doing-to-keep-young-people-in-education

Cheers, Karl

Karl S

[2019-12-03 01:46] #38 closed

[2019-12-03 02:14] dkevey commented on #40
@jporich I'm happy to make the change on this one, I'll just need to create some instructions/help guide on how to sort the child pages (for editors)

[2019-12-03 02:16] jporich commented on #40
Ah fair enough - I get the feeling we have them somewhere...

Possibly @woowoowoo has some from Edit+ training on rearranging assets via the linking screen?

[2019-12-03 02:40] dkevey commented on #41
@jaredh-um `with-box` class has been added to the header - still needs font-size and line-height adjustment

And the header .box background used to be 80% opacity instead of 95% - not sure if this is correct?

https://resources.web.unimelb.edu.au/controlled-environment/templates/landing/header-with-box/_recache

https://education.unimelb.edu.au/mgse-industry-reports/report-1-those-who-disappear/re

[2019-12-03 02:51] jaredh-um commented on #41
Looks like we need a few fixes:

#### Fix the template
- [X] Add `with-box` class to `header` so H1 inside `box` can be targeted appropriately

#### Remove unnecessary properties
- Adjust the following properties on the `.uomcontent [role="main"] header .box h1` selector
- [ ] Remove `letter-spacing`
- [ ] Remove `line-height`
- [ ] Remove `margin-bottom`

#### Remove redundant font-size block
- [

[2019-12-03 03:18] tomstringer commented on #41
I've also removed the padding from `.uomcontent [role="main"] header .box p` elements and added a top margin instead to compensate for the removal of `margin-bottom` from the `h1` element.

[code]

[2019-12-03 03:22] tomstringer commented on #41
@jaredh-um Do you want that opacity reduced as per @dkevey's comment?

`.box { background: color(var(--col-white) alpha(95%));`

to

` .box { background: color(var(--col-white) alpha(80%));`

Or should we leave it as is?

[2019-12-03 03:29] jaredh-um commented on #41
@tomstringer sorry, yeah you can change that back to the 80 as per @dkevey

[2019-12-03 03:44] #41 closed

[2019-12-03 03:45] jaredh-um commented on #39
Hey @jporich, we did indeed remove the padding from the generic H2s as it was the only heading type with top and bottom values applied.

@dkevey are you able to see if this is something that can be fixed within the Pathfinder CCT (by adding the `content-template` class) or do I need to propose a specific fix for this particular case?

[2019-12-03 04:14] dkevey commented on #39
All the Content Templates need updating to use a better global JS/CSS file. I'll be adding in some additional styling options soon to help control this. Was going down the list - but will do Pathfinders and page listing as first priority.

[2019-12-03 04:18] jporich opened #42 "[BUG] Modal popup close button overlaps titles"
<img width="1659" alt="Screen Shot 2019-12-03 at 3 05 33 pm" src="https://user-images.githubusercontent.com/10070570/70019936-2c19cc80-15df-11ea-9751-4f43121d6fe9.png">

## Expected behaviour
Modals should provide some margin on the left and right sides to prevent titles from "overflowing"

## Current behaviour
Titles reach the sides and are layered under the "close" button of the modal

## Steps

[2019-12-03 20:46] #13 closed

[2019-12-03 21:45] tomstringer commented on #39
@dkevey I've got another person reporting this one (same issue: `<h2 class="title">` in a pathfinder CCT). Is this something we'll have fixed before we release?

[2019-12-03 23:12] #11 closed

[2019-12-03 23:22] #42 closed

[2019-12-04 01:23] dkevey commented on #39
Hey @jporich I've added in the custom `content-template` class to fix the `h2 class="title"` and adjusted to the class to have a `padding-top: 3rem` as `1.5rem` didn't look right, can you please test and confirm this issue is now resolved? thanks https://cms.unimelb.edu.au/controlled-environment/law/_recache
added in

[2019-12-04 01:29] jporich commented on #39
Be-yyoooooo-di-ful.

Looks good @dkevey ! Thanks :)

[2019-12-04 01:35] #39 closed

[2019-12-04 02:36] dkevey opened #43 "[BUG] H2 under tabbed nav has no padding"
## Expected behaviour
H2 used to have `padding-top: 1.5rem` which gave adequate spacing under tabbed nav when content was not wrapped in a section element.

https://awcum.unimelb.edu.au/_recache#history

![image](https://user-images.githubusercontent.com/1305804/70107430-917ec380-169a-11ea-8934-2f78d07d5af2.png)

## Current behaviour
H2 needs some padding under tabbed nav.

![image](https://user-i

[2019-12-04 02:56] dkevey commented on #43
added `.uomcontent .tabbed-nav div:first-child h2` {margin-top: 3rem;} to local CSS file to fix

[2019-12-04 02:56] #43 closed

[2019-12-04 03:14] dkevey commented on #24
ok looks like #43 fixed this as well
https://cms.unimelb.edu.au/controlled-environment/law/melbourne-law-school-internships/_nocache#impact

[2019-12-04 03:14] #24 closed

[2019-12-04 05:20] jporich opened #44 "[BUG] Tabbed nav <h2>'s all receiving margin-top (knock on effect from #43)"
All `<h2>`'s receiving a top margin on pages that use Tabbed Navigation.

## Expected behaviour

Only the top-most `<h2>` should receive a margin-top of 3rem

`.uomcontent .tabbed-nav div:first-child h2 {
    margin-top: 3rem;
}`

## Current behaviour
All receiving margin-top
![Screen Shot 2019-12-04 at 3 42 41 pm](https://user-images.githubusercontent.com/10070570/70113491-7d908d00-16ad-11ea-9ade

[2019-12-04 05:32] tomstringer commented on #44
😖 Nicely picked up. And good suggestions. Thanks @jporich

[2019-12-04 21:38] dkevey commented on #44
thanks @jporich having a look at this one now

[2019-12-04 21:50] jaredh-um commented on #44
Hey @jporich do your selectors account for the cases where the first div is nested in another div? Seems to be the case on a few of your tabs in that example

![Screen Shot 2019-12-05 at 8 49 40 am](https://user-images.githubusercontent.com/34703139/70184622-4cab6900-173c-11ea-8ef4-f2128bde7b59.png)

[2019-12-04 22:23] dkevey commented on #44
I'm thinking that we don't target the H2 at all, and we should apply a class to the DIV wrapper instead. It would mean a bit of work editors (potentially) to apply the new class but this would be a better long term solution for stability and give control to editors.

[2019-12-04 22:32] dkevey commented on #44
this is curious with multiple `DIV` and `SECTION` - is this done for testing purposes @jporich  or is this a mistake? Markup should be either `DIV` or `SECTION `not both

![image](https://user-images.githubusercontent.com/1305804/70187291-ec1f2a80-1741-11ea-8bb1-61df7c12e329.png)

[2019-12-04 23:03] jporich commented on #44
The CSS is completely untested and almost certainly wrong :) better off with a FE dev investigating.

There's a looooot of different cases though, screenshot below for how these layers get made:

![Screen Shot 2019-12-05 at 8 58 10 am](https://user-images.githubusercontent.com/10070570/70188529-0e667780-1745-11ea-8c7e-f8de0522ee37.png)

- In regards to the "many divs" it's a result of many nested

[2019-12-04 23:57] dkevey commented on #44
yeah the combination of tabbed nav content really does my head in. Tim and I just had a look and we think the best way handle this is to apply a class to the `DIV` on a content containers i.e `content-block` or `content-block content-block--short` with the option of `alt` for a grey background so that editors have control of the final output.

@jporich could you please do some testing for me to se

[2019-12-05 00:03] jporich commented on #44
Might be a bit with testing sorry @dkevey - I'll add it to my to-do's but a bit under the pump at the moment between Canvas rollout, new LMS Learning Designer hired, and fixing our existing issues before the Gen 3 rollout :(

Might not be able to test it in time for rollout

[2019-12-05 02:11] jaredh-um commented on #15
The colour of the text on the buttons can be resolved by modifying the link colour selector for each of the 4 notice types. ie;
`.uomcontent [role="main"] .notice--success a`

needs to change to:
`.uomcontent [role="main"] .notice--success a:not(.button):not(.button-hero)`

This will prevent the buttons inheriting the `a` link colour that is otherwise set for each of the notice areas.

Hero button

[2019-12-06 00:06] jporich opened #45 "[BUG] <h2> elements not receiving white colour on blue background - "unit description""
Some odd cascading happening here:

We run a few systems that still run separate to Study - law is moving to transition to study but won't be ready in time for the 10th (I believe at the very least mdhs-study.unimelb.edu.au and potentially a few more Bespoke sites may be in the same boat)

On the "Subject description" accordions which open a blue background, the titles are appearing blue

## Expec

[2019-12-06 03:55] jaredh-um opened #46 "[Design] In-page navigation design tweaks"
### Currently

There are two layouts for the in-page navigation component - fixed (sidebar) and table of contents.

**Fixed:**
![Screen Shot 2019-12-06 at 2.42.14 pm.png](https://images.zenhubusercontent.com/5acae0cd4b5806bc2bce3338/24f36ad5-9194-4ea1-bea9-d9cd9f8dc03a)

**Table of contents:**
![Screen Shot 2019-12-06 at 2.42.05 pm.png](https://images.zenhubusercontent.com/5acae0cd4b5806bc2bce3338

[2019-12-06 04:18] jaredh-um commented on #45
Hey @jporich, I think it may be because we didn't have a specific colour generally assigned to headers previously. The selector you mentioned isn't targeting the H2 specifically, but rather any text in that cell, so it's being ignored in favour of the general colour set on the H2 which is more 'specific'. I think.

- [ ] Adjust the selector `.uomcontent [role="main"] table.course-progression tr td

[2019-12-08 22:34] makenosound commented on #5
I’ve fixed this in https://github.com/unimelb/Gen3/pull/173 and merged that so it should be visible in prod now.

[2019-12-08 22:35] makenosound commented on #9
Should be fixed in https://github.com/unimelb/Gen3/pull/173 and live.

[2019-12-08 22:35] makenosound commented on #8
I’ve addressed this in https://github.com/unimelb/Gen3/pull/173. Be good to confirm it’s working as expected for the example use case above, as it’s a little hard to test that scenario in the docs site.

[2019-12-08 22:35] makenosound commented on #46
I’ve made these change in https://github.com/unimelb/Gen3/pull/173

[2019-12-08 22:36] makenosound commented on #45
This should be fixed in https://github.com/unimelb/Gen3/pull/173

[2019-12-08 23:28] jaredh-um commented on #8
Looks good on the test URL. 👍

[2019-12-08 23:51] jaredh-um commented on #9
Hey @makenosound it looks like there's a horizontal scroll happening on the menu header now. Visible on:
https://le.unimelb.edu.au/news/articles/learning-and-teaching-initiative-lti-grants-2020/_recache
https://unimelb-design-system-icelab.herokuapp.com/components/buttons

![Screen Shot 2019-12-09 at 10 50 35 am](https://user-images.githubusercontent.com/34703139/70398644-c364a100-1a71-11ea-8910-0

[2019-12-09 00:17] makenosound commented on #9
Ah, yep, this should be fixed now.

[2019-12-09 00:57] jaredh-um commented on #46
Hey @makenosound this looks like it's mostly done - there's just some remnants existing at the 1099px+ breakpoint which revert the table of contents style version to a weird display (seen [here](https://unimelb-design-system-icelab.herokuapp.com/components/buttons)):

![Screen Shot 2019-12-09 at 11 54 44 am](https://user-images.githubusercontent.com/34703139/70399738-c617c400-1a7a-11ea-9e68-548860

[2019-12-09 01:01] tomstringer commented on #44
Looks pretty good to me. I'll leave this one open until @jporich can have a go at it, but should be good to go.

[2019-12-09 01:03] tomstringer commented on #5
Looks good @makenosound - thanks.

@nmiller-unimelb you can remove the hardcoded CSS from that element now. Should work fine.

[2019-12-09 01:03] #5 closed

[2019-12-09 01:06] tomstringer commented on #9
Looks good.

[2019-12-09 01:06] #9 closed

[2019-12-09 01:06] tomstringer commented on #8
@tblundell Can we get you to have a look at this one and confirm if it's ok from your end?

[2019-12-09 01:09] tomstringer commented on #45
Thanks @makenosound - I'll close this off, but @jporich will need to fix up the remaining local styles.

[2019-12-09 01:09] #45 closed

[2019-12-09 01:10] tblundell commented on #8
@tomstringer Looks great in the upcoming design systems styles. 👍

[2019-12-09 01:12] tomstringer commented on #8
Whoop!

[2019-12-09 01:12] #8 closed

[2019-12-09 01:15] dkevey commented on #16
Hi @sprinsloo I've uploaded the new SVG logs can you please do a sanity check for me on mbs.unimelb.edu.au and let me know if logo looks ok? Thanks

[2019-12-09 01:26] dkevey commented on #35
@jaredh-um the MI logos look incomplete, can you please double check. Should look like this: https://melbourneinstitute.unimelb.edu.au/__data/assets/image/0017/3230360/MelbInstitute-logo-8.png
these were what was in the ZIP file:
https://melbourneinstitute.unimelb.edu.au/__data/assets/file/0007/3249619/melbourne_institute_reversed_tagline.svg
https://melbourneinstitute.unimelb.edu.au/__data/assets

[2019-12-09 01:28] dkevey commented on #37
@tomstringer  https://www.bio21.unimelb.edu.au isn't in CMS it's drupal is that the correct URL?

[2019-12-09 01:29] makenosound commented on #46
@jaredh-um Nice pick up, I didn’t realise there were two different incarnations of that element either (separate from their appearance on different screen sizes). Should be resolved now.

[2019-12-09 01:48] tomstringer commented on #37
Blerg. Yeah, I think you're right. Sorry @dkevey - not sure where our list of Matrix co-branded sites came from...

[2019-12-09 01:48] #37 closed

[2019-12-09 02:09] jaredh-um commented on #35
@dkevey the background colour on those `a` sections is set to white. The logos I've provided above are the reversed ones that should be sitting on navy. Same issue is occurring in the breadcrumbs version

#### Currently with white bg
![Screen Shot 2019-12-09 at 1 07 50 pm](https://user-images.githubusercontent.com/34703139/70401718-fc5a4100-1a84-11ea-8819-7989f6d19716.png)

#### Should be
![Screen

[2019-12-09 03:25] jaredh-um commented on #35
Hi @dkevey updated Melbourne Institute logo SVG attached - should match the appearance of the original, but in an inverted colourway

[melbourne_institute_reversed.svg.zip](https://github.com/unimelb/design-system-issues/files/3937763/melbourne_institute_reversed.svg.zip)

[2019-12-09 21:39] dkevey commented on #35
MI logo has been added https://melbourneinstitute.unimelb.edu.au/_nocache

[2019-12-10 01:14] tblundell opened #47 "[BUG] Staff hub - white line between global nav and header image."
In staff.unimelb, the class="headerless" has a 1px white border. This is noticeable when slotted between the nav and a page with a main header image.
See https://staff.unimelb.edu.au/governance/projects/current-projects/information-technology/project-evolve#2020

## Expected behaviour

The global Nav and the header image would touch, without the white line.

## Current behaviour
<img width="1405"

[2019-12-10 03:56] dkevey commented on #47
Hi @tblundell I can see that page has hardcoded elements on that page:
![image](https://user-images.githubusercontent.com/1305804/70493714-c4bec800-1b5c-11ea-8344-4a99591d8be2.png)

and that the The staff hub templates have the `<div class="headerless"></div>` element is causing the issue. The Staff Hub templates aren't designed to have hardcoding like this and only the templates that are listed h

[2019-12-10 04:08] tblundell commented on #47
@dkevey ahhh, thanks. Im not the maintainer of this site but I do/did have edit access. I'll have a look (I noticed this when checking our link to the site). The line is not a showstopper anyway - more a consistency thing.

BTW: Using the inspector, I just tested changing a page with an image header (eg LMS website) to headless, and this displays the same line - not that you would really want that

[2019-12-10 04:33] dkevey commented on #47
yeah I think headless is only used for pages with no images at the top. I think I'll close this one off.

[2019-12-10 04:33] #47 closed

[2019-12-10 04:37] #46 closed

[2019-12-10 05:17] tomstringer commented on #16
Re-opening to track decoupling from the design switcher.

[2019-12-10 05:18] tomstringer commented on #35
Reopening to decouple from design switcher

[2019-12-10 05:19] tomstringer commented on #36
Reopening to track decoupling from design switcher.

[2019-12-10 05:32] sprinsloo commented on #16
@dkevey  the logos look good, thanks!

[2019-12-10 05:41] tomstringer commented on #35
Updated so that the logo can be loaded depending on the design version being used.

[2019-12-10 05:41] #35 closed

[2019-12-10 05:42] tomstringer commented on #16
Updated so that the logo can be loaded depending on the design version being used.

[2019-12-10 05:42] #16 closed

[2019-12-10 05:42] tomstringer commented on #36
Updated so that the logo can be loaded depending on the design version being used.

[2019-12-10 05:42] #36 closed

[2019-12-11 02:12] dcollett commented on #25
The text colour is still not right - see: https://le.unimelb.edu.au/new-lms/_nocache#jump5

[2019-12-11 02:29] tomstringer commented on #25
@dcollett You've got a local style in there overriding the design system.

![Screen Shot 2019-12-11 at 1 28 47 pm](https://user-images.githubusercontent.com/924501/70586061-3dd02500-1c1a-11ea-829f-92b610979b31.png)

[2019-12-11 02:32] dcollett commented on #25
Ooops, should’ve looked closer. Thanks Tom.

From: Tom Stringer <notifications@github.com>
Reply to: unimelb/design-system-issues <reply@reply.github.com>
Date: Wednesday, 11 December 2019 at 1:30 pm
To: unimelb/design-system-issues <design-system-issues@noreply.github.com>
Cc: Dean Collett <d.collett@unimelb.edu.au>, Mention <mention@noreply.github.com>
Subject: Re: [unimelb/design-system-issues]

[2019-12-13 03:41] rodley87 opened #54 "Update "visa information" link in footer"
#### Expected behaviour
Update the URL to the new page? Check in with @nickmiller?
This seems to be a viable candidate:
https://students.unimelb.edu.au/student-support/international-student-support/visas

#### Actual behaviour
Current URL is https://services.unimelb.edu.au/international/visas
This is currently redirecting to https://old-students.unimelb.edu.au/admin/student-visas
But ```old-studen

[2019-12-17 04:24] #44 closed

[2019-12-17 22:45] jporich opened #48 "[BUG] Timeline font-weight all set to 600"
At present there is a CSS rule for Dictionary Definition (`<dd>`) elements to set `font-weight:600;`

This actually affect timelines (I'm assuming this was aimed at targeting the contact boxes we have?) When making use of a `<strong>` tag - there's no discernible difference in weight of fonts - only a veryyyy slight difference in colour (dark blue vs off-black)

Fig 1 below. All `<dd>` tags with u

[2019-12-17 22:54] dkevey commented on #48
https://law.unimelb.edu.au/students/orientation

[2019-12-17 23:01] dkevey commented on #48
looks like this class was added - can't see it in Gen 1
![image](https://user-images.githubusercontent.com/1305804/71041357-fba86580-217c-11ea-9589-841495d127fe.png)

Applying `font-weight: 400;` to `.uomcontent .timeline dd` should fix it. @jaredh-um @tomstringer could you please confirm? I can add an override CSS in the meantime.

[2019-12-17 23:37] jaredh-um commented on #48
Hi @dkevey, from what I could see of the spaghetti CSS you'd need to specify the paragraph specifically like `.uomcontent .timeline dd p` because there are a few other things in there like spans for dates that have different styling and I think applying it just to the `dd` element might change them all.

Actually I just tried dropping that whole highlighted block - which reverts everything to 400

[2019-12-17 23:45] dkevey commented on #48
@jaredh-um do you mean remove this class from the main CSS file? From what I can tell it wasn't there before, but I don't know why it would be added in.
[code]

[2019-12-17 23:46] jporich commented on #48
@jaredh-um @dkevey

I can't find an example but I know we use dictionary lists `<dl>`'s in our contact-box  https://web.unimelb.edu.au/components/text/#contact-box

Can't see it in action as our DDS site hasn't got Gen 3 applied

[2019-12-17 23:51] dkevey commented on #48
Contact box has the `dd` declared like this - so it's overwritten anyway.

https://openstage.unimelb.edu.au/home#contact
![image](https://user-images.githubusercontent.com/1305804/71043940-509baa00-2184-11ea-9707-855515497dde.png)

[2019-12-17 23:53] jaredh-um commented on #48
@jporich You can check it here while Icelab still has this deployment up:
https://unimelb-design-system-icelab.herokuapp.com/components/text

As @dkevey has said, that contact box looks like it has it's own specific styling for `.uomcontent [role="main"] .contact-box dd` so I think we could potentially drop the generic block quoted further up?

[2019-12-18 03:21] catherinehunt opened #49 "[Bug] Figure Floating content template needs a mechanism to add padding"
Unless I'm missing something, there's no way to give the Figure Floating content container some more padding. For example, see here: https://science.unimelb.edu.au/students/bsc-orientation#getting-to-campus. I tried wrapping it in a content-block div and section tags, but no dice. Thanks.

[2019-12-18 03:24] #49 closed

[2019-12-18 03:26] catherinehunt opened #50 "[BUG] Figure Floating content container needs a way to add padding"
Unless I'm missing something, there's no way to give the Figure Floating content container some more padding. For example, see here: https://science.unimelb.edu.au/students/bsc-orientation#getting-to-campus. I tried wrapping it in a content-block div and section tags, but no dice. Thanks.

## Expected behaviour
Wrapping the container in the content-block div should create padding above.

## Curren

[2019-12-18 04:41] rothenburycam opened #51 "Unimelb logo slightly cropped at bottom in header"
## Expected behaviour
Logo should be uncropped

## Current behaviour
Logo is cropped by approx 3px

<img width="538" alt="Screen Shot 2019-12-18 at 3 37 12 pm" src="https://user-images.githubusercontent.com/11714609/71056307-e0ede500-21ac-11ea-9168-18100e32084f.png">

[2019-12-18 05:04] dkevey commented on #34
@tblundell @jporich I've added in some styling options for the page listing content template so that you can style the heading and control some padding. https://resources.web.unimelb.edu.au/controlled-environment/content-templates/listing
Be default the content template uses the `content-block` class so that should fix most issues by default without needing to go into the Edit Interface. I just ne

[2019-12-18 22:03] dkevey commented on #50
Will tackle this one next to add in some styling options as per accordion and page listing

[2019-12-20 00:25] dkevey commented on #34
ok closing this one off as I've updated documentation https://resources.web.unimelb.edu.au/controlled-environment/news/merry-christmas

[2019-12-20 00:25] #34 closed

[2020-01-07 03:55] nmiller-unimelb opened #52 "'Introductory text' must be shown on page, even if only required for page listing"
By default, the content of the 'introductory text' metadata field displays at the top of a page when using many page templates. It also displays when you select that page in a page listing. I've come across a couple of situations where I need to display some description text for a page listing, however I don't want that same text to appear on the actual page itself. It would be great if this could

[2020-01-13 01:14] dkevey commented on #50
Template has been updated see news item: https://resources.web.unimelb.edu.au/controlled-environment/news/figures-floating

[2020-01-13 01:14] #50 closed

[2020-01-14 00:00] dkevey commented on #48
@jporich @jaredh-um I've added a temp css override for this in the interim. Hopefully it doesn't cause any flow on issues.

[code]
https://law.unimelb.edu.au/students/orientation/_recache

[2020-01-15 04:50] dkevey commented on #40
@jporich the filtered listing has been updated to sort down the tree.
have updated documentation here:
https://resources.web.unimelb.edu.au/controlled-environment/help-guides/how-to-use-a-filtered-listing-template

Have also created some reports to review page templates here: https://resources.web.unimelb.edu.au/controlled-environment/support/page-template-report

[2020-01-15 04:50] #40 closed

[2020-02-02 23:44] jporich commented on #48
@dkevey This seems to work good now :)

Thanks!

[2020-02-02 23:52] jporich opened #53 "[BUG] Page Listing titles inconsistent use of <strong>"
At present Page Listings make use of the metadata **keyword** field to insert a 'tag'/'category' before the title.

- When the keyword field is used, the title is bolded with a `<strong>` tag
- When the keyword field is _not_ used, the title doesn't receive a `<strong>` tag

## Expected behaviour
Title should always receive a bold tag, regardless of whether the keyword metadata field is being used

[2020-02-03 00:15] jporich commented on #53
NOTE: Here is a workaround with `&nbsp;` in the metadata keyword field
![Screen Shot 2020-02-03 at 11 05 50 am](https://user-images.githubusercontent.com/10070570/73617750-23448600-4676-11ea-87e8-a6fb4c3d6e37.png)

--------

Ideally the keyword would be pinned to the bottom (filling 'upwards'). This allows for better alignment if the keyword isn't present, and has the added bonus of giving a bette

[2020-02-03 02:49] dkevey commented on #48
great thanks - I'll close this off

[2020-02-03 02:49] #48 closed

[2020-02-04 23:26] tomstringer opened #55 "[Design] Breadcrumbs design treatment with megamenu needs attention"
Gen 4 breadcrumbs were introduced to show with the mega-menu implementation, but the design treatment creates some awkward visuals - particularly where the blue header is used (see Nick's email below).

We need a more considered design treatment for how the breadcrumbs render when the megamenu is used.

[2020-02-20 02:08] jporich opened #57 "[CMS] Progressive image sizes on 'Text - two columns' CCT"
At present the images used in 'Text - two columns' CCT will only make use of the originally sized image and not first check for image variants

## User story
As an editor, I want to select images for use in my CCTs and not have to worry about always selecting the right image variety so that my pages always load fast and I can focus on other content, rather than image editing.

## Requirements

**(

[2020-02-20 04:24] dkevey commented on #57
Hey @jporich I've just added in image varieties:
1. large image
2. image URL (if large variety not present as it will be smaller anyway)
3. default image used if none provided

No CSS changes have been made (not 100% sure of the reference above)

[2020-02-20 05:09] jporich commented on #57
Legend!

Perfect (p.s. css was just so we were sure that the maximum image size was never bigger than the 'large' variant)

Thanks!

[2020-02-24 02:47] nmiller-unimelb opened #58 "Changing the accordion 'description' field to WYSIWYG"
Changing this field from a plain text field to a WYSIWYG field would be really helpful when it comes to styling the text above a set of accordions. For example, it would allow you to have more than one paragraph between the accordion heading and the accordions, or to make some text bold or italics. This would make it a lot easier to layout pages which contain accordions.

[2020-02-26 02:29] dcollett opened #59 "[BUG] font of citation class"
The font for the citation class has changed. It's currently the default Roboto font - previously was Courier. This appears to have changed with the recent design system updates

## Expected behaviour
The font for the citation class would still be Courier

## Current behaviour
The font for the citation class is Roboto

## Steps to reproduce
Old design system example = https://web.unimelb.edu.au/com

[2020-02-26 21:37] dkevey commented on #57
closing as this has been implemented

[2020-02-26 21:37] #57 closed

[2020-02-26 21:38] dkevey commented on #52
Comment from Marcus Bunyan (arts) Can we include a "checkbox" on a STANDARD page next to the "Introductory text" field in the Metadata, that allows you to display or not display this text?
This is especially important when using the PAGE LISTING template - the text appears under the thumbnail image - and then automatically at the top of the subsequent page.
Sometimes , you don't want the same text

[2020-02-27 02:28] dkevey opened #60 "[BUG] Hamburger icon still displays when no local menu is selected"
In Gen 1 the local hamburger menu could be [disabled](https://resources.web.unimelb.edu.au/controlled-environment/help-guides/managing-your-local-site-menu) by editors (handy if the site is small and not required). However the icon was still present due to the global IA being injected via javascript.

In Gen 3 the global IA was moved into the footer, so now if the local menu is disabled, the icon

[2020-02-27 02:49] tomstringer commented on #56
This has already been done in both Gen2 and Gen3 - not exactly sure when though...

[2020-02-27 02:49] #56 closed

[2020-02-27 02:51] tomstringer commented on #54
Also logged to be fixed in the Gen2 Pattern Library: https://github.com/unimelb/pattern-lib/issues/1398

[2020-02-27 02:52] tomstringer commented on #53
@dkevey Is this a Matrix-specific implementation issue? If so, I think we should shift this across to unimelb/matrix-controlled-environment

[2020-02-27 02:54] dkevey commented on #53
Yes @tomstringer - would be good to convert this all to a content template too I think so we can add extra config options

[2020-02-27 03:02] tomstringer commented on #55
Issue moved to [unimelb/Gen4 #10](https://github.com/unimelb/Gen4/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-27 03:02] tomstringer commented on #55
Didn't mean to do that, soz.

[2020-02-27 04:56] dkevey commented on #52
@nmiller-unimelb option to disable intro text has been implemented on these page templates:
- Inside page with blue header
- Inside page with no header
- Inside page with aside content

See MCE Changelog for details, if its as you expected I'll roll out to other templates that use it
https://resources.web.unimelb.edu.au/controlled-environment/changelog

[2020-02-27 21:37] nmiller-unimelb commented on #52
Hi @dkevey - looks good! Thanks so much for implementing. Would definitely be good to get rolled out to other page templates.

[2020-02-28 03:40] #54 closed

[2020-02-28 03:41] #51 closed

[2020-02-28 05:31] dkevey commented on #52
@nmiller-unimelb  header page templates are done https://resources.web.unimelb.edu.au/controlled-environment/changelog

[2020-03-01 02:34] nmiller-unimelb commented on #52
It's working great! :-) Thanks @dkevey

[2020-03-13 01:44] jaredh-um commented on #55
Interim changes as discussed with Donna to be implemented and tested:

![Screen Shot 2020-03-13 at 11 57 39 am](https://user-images.githubusercontent.com/34703139/76581693-6c66e000-6528-11ea-8337-3dea0e88cd81.png)

[2020-03-13 04:54] dkevey commented on #55
@nmiller-unimelb I'm testing changes to breadcrumbs on our site here if you want to have a look and let me know what you think:
- [header with image](https://resources.web.unimelb.edu.au/controlled-environment/templates/landing/header-with-image)
- [inside with blue header](https://resources.web.unimelb.edu.au/controlled-environment/templates/standard/inside-page-with-blue-header) and [with jump n

[2020-03-13 04:59] nmiller-unimelb commented on #55
Thanks @dkevey - will take a look and get back to you on Monday.

[2020-03-16 00:29] nmiller-unimelb commented on #55
Hi @dkevey ,

Thanks for the opportunity to review this, I think it looks good and is a definite improvement on the current state.

A couple of questions (possibly more for @jaredh-um ):

- I notice that the background colour of the header bar has also been changed. Did you feel that this was required to visually seperate the breadcrumbs from the header? Our original preference was to have the bre

[2020-03-16 03:23] dkevey commented on #55
@nmiller-unimelb yeah - RE: breadcrumbs colour - yes we thought it looked weird with the breadcrumbs bleeding into the header background colour. After having a break from the breadcrumbs and looking at it fresh today - I actually don't like the dark blue breadcrumbs. Will chat with @jaredh-um again.

Also the issue of breadcrumbs on mobile seems to be happening on the current design - I'm not sure

[2020-03-16 03:28] nmiller-unimelb commented on #55
Thanks @dkevey.

Re: the breadcrumbs background colour, my only other feedback would be that having different colours/shades for the menu, breadcrumbs and header means there's still a bit of a 'striped' effect going on - albeit one that looks a lot better than the blue/white/blue effect we have at the moment. Anything which helps those three segments at the top of the page to look more cohesive wo

[2020-03-16 04:32] jaredh-um commented on #55
@nmiller-unimelb @dkevey I'll look into this again.

[2020-03-18 21:36] dkevey commented on #3
@jaredh-um @TimMansell @gepifanio Don't suppose you guys have a quick solution I can implement in CMS for this button where the arrow is dropping off - it's pretty ugly https://unimelb.edu.au/shop
![Screen Shot 2020-03-19 at 8 34 25 am](https://user-images.githubusercontent.com/1305804/77009816-afa7cf80-69bc-11ea-991e-0346d03cf87d.png)

[2020-03-18 22:11] dkevey commented on #3
temporally hiding the arrow on this page https://unimelb.edu.au/shop/_recache until we get a fix - looks much better I think

`.uomcontent [role=main] .pathfinder-2 a .button-small:after {display:none;}`

![Screen Shot 2020-03-19 at 9 11 09 am](https://user-images.githubusercontent.com/1305804/77012185-97867f00-69c1-11ea-81d0-eae53342911c.png)

[2020-03-18 22:27] TimMansell commented on #3
Temp fix:

[code]

[2020-03-18 22:29] dkevey commented on #3
legend @TimMansell that looks great https://unimelb.edu.au/shop/_recache

[2020-03-18 23:50] dkevey commented on #3
@tblundell I've added this as an override for now - it seems to be working, can you please check your pages and let me know? Thanks

[2020-03-19 04:38] jaredh-um commented on #55
So I've looked at this for a while, and for an interim fix I think Nick's original suggestions are probably the most viable - regardless of colour, if the plain header background is different to the breadcrumbs then we're going to get a striped effect.

[2020-03-19 05:11] dkevey commented on #55
Yeah I think so too @jaredh-um I saw a couple other sites doing something similar i.e.
https://www.anz.com.au/personal/bank-accounts/
https://www.anz.com.au/personal/bank-accounts/everyday-accounts/access-advantage/

Will revert that change back and roll out tomorrow

[2020-03-20 02:36] dkevey commented on #55
Have implemented this change in CMS so I'll close this ticket off

[2020-03-20 02:36] #55 closed

[2020-03-22 22:59] jporich opened #61 "[BUG] Pathfinder CCT alternative text results in stretched Background"
At present there's a  Font colour override in the Pathfinder CCT to switch the body text from default light/white to dark/black.

## Expected behaviour
Backgrounds should always stick to "Cover" whatever the colour and contrast settings are  set to

## Current behaviour

Backgrounds are losing any sizing options when converting to "dark" text

<img width="1491" alt="Screen Shot 2020-03-23 at 9 52

[2020-04-01 23:52] dcollett opened #62 "[FEATURE] add jumpnav functionality to headings in Text - Two Columns component"
## Is the feature request related to a problem? Please describe.
Not possible to use jumpnav with the headings in the 'text-two columns' component - the workaround involves adding the heading in a separate container above the component.

## Describe the solution you'd like
When adding a heading in the two column component the heading gets a unique ID & appears in the jumpnav menu

## Describe alte

[2020-04-20 02:37] dkevey commented on #3
Had to tweak for mobile, all good now so closing this one off.

[2020-04-20 02:37] #3 closed

[2020-04-27 22:33] dkevey opened #63 "[BUG] NEXT buttons used on Tabbed navigation pages not working."
## Summary
Using next button on tabbed pages not working correctly. See [FAQ](https://resources.web.unimelb.edu.au/controlled-environment/templates/home/home-page-with-tabbed-navigation#faq) on how to implement in CMS.

## Expected behaviour
Example page: https://melbourne-cshe.unimelb.edu.au/programs/engagement/engaged-university-esymposium

On About tab, when clicking on  "Next: Forum Hosts" but

[2020-05-21 04:55] woowoowoo commented on #63
The same issue was reported on TASK0282732, referring to the opposite scrolling effect - in that a click on the tab should bring the tab bar up to the top of the viewport.

[2020-05-21 05:01] tomstringer commented on #63
@woowoowoo I actually think that functionality was deliberately removed, is that right @jaredh-um ?

[2020-05-21 05:25] woowoowoo opened #64 "[BUG] margin-left on button-hero-inverse causing misalignment"
The hero button is often used centered on a line by itself.

It's expected that the button should be aligned in the center of the page, but a left margin causes it to be pushed slightly to the right. Especially noticeable when there's a line of text above.

## Current behaviour

![Screen Shot 2020-05-21 at 3 22 34 pm](https://user-images.githubusercontent.com/848310/82526269-eb0a7a00-9b76-11ea-942

[2020-05-21 05:33] woowoowoo commented on #63
Hmm - I actually think it is not good behaviour, and needs to be addressed. The original behaviour of the design system seemed correct to me. It's not so much about using extra buttons to traverse the tabs, as it is about scrolling to the tab bar, and bringing content into the viewport correctly.

[2020-05-21 06:44] jaredh-um commented on #63
The issue where it was removed is here: https://github.com/unimelb/Gen3/issues/33

I didn't realise this behaviour was attached to buttons as well; I originally noticed it when clicking on the tabs themselves.

I don't think it should be reinstated for the tab links themselves; shifting the viewport when the content is already in view seems a bit overbearing to me. However if it's on a button of u

[2020-05-21 06:48] woowoowoo commented on #63
Even a click on the tab - if that tab bar close to the bottom of the viewport - you don't really see the content update within the viewport - that's the problem that was reported today. Edge case, but sort of fair.

[2020-05-21 06:52] jaredh-um commented on #63
Isn't it reasonable to expect that clicking on a tab changes the content underneath? And if you've chosen to click it when it's at the bottom of the page that you're probably going to have to scroll to see what changed? That's pretty standard tab behaviour.

[2020-05-21 07:00] woowoowoo commented on #63
Yes, but isn't it equally reasonable to assume that a user clicking on a tab wants to move that content into the viewport? One interaction instead of two.

[2020-05-21 23:23] dkevey commented on #63
@jaredh-um this issue has come up a few times and agree with Andrew that the functionality should be resinated as it was prior to the upgrade.

Historically this functionality was enabled editors to display short courses in their sites as Bespoke didn't cater for these. An example of how a course would work in MCE is here: https://resources.web.unimelb.edu.au/controlled-environment/templates/speci

[2020-05-21 23:38] jaredh-um commented on #63
I agree that it should be reinstated, however this javascript is a kludge to cover up some rather poor design decisions (though perhaps appropriate in that era) that naturally result in poor usability.

I don't think that most of the interactions around this element result in anything a user would reasonably expect in 2020 as a result. It is amongst the top items I want to see replaced if we get a

[2020-07-24 02:01] tomstringer commented on #63
@gepifanio This has been raised again. Are we able to get this particular change reverted? See @jaredh-um's comment above.

[2020-07-31 03:36] dkevey commented on #59
Hi @jaredh-um  are you happy for this change:
**CURRENT** Citation
![Screen Shot 2020-07-31 at 1 34 29 pm](https://user-images.githubusercontent.com/1305804/88997276-ac412f00-d332-11ea-9d5f-f2435ec85662.png)

**PROPOSED CHANGES**
![Screen Shot 2020-07-31 at 1 32 13 pm](https://user-images.githubusercontent.com/1305804/88997205-78660980-d332-11ea-9823-8f2f367fb05a.png)

**PREVIOUS citation**
![Scre

[2020-07-31 04:50] jaredh-um commented on #59
@dkevey That looks totally fine; can I ask where you got the `font-family` set from? I've just checked Gen 2 and we don't appear to have a defined set for monospaced fonts there, so it might be worth settling on an official list.

[2020-07-31 05:05] dkevey commented on #59
@jaredh-um in **Gen 3** it's defined in the **_globals.css** file as
`--ff-fixed: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;`

[2020-07-31 05:21] jaredh-um commented on #59
Sure, makes sense to stick with that.

[2020-08-04 04:33] woowoowoo opened #65 "[BUG] Social links in global footer stacked in Safari"
Social links (FB, Twitter, LinkedIn) in the global footer are aligned vertically in Safari

## Current behaviour
![image](https://user-images.githubusercontent.com/848310/89252903-72d43080-d65e-11ea-9466-fec2943dafa9.png)

## Steps to reproduce
Screenshot shows the same page: https://www.unimelb.edu.au/global-challenge in Google Chrome (left), and Safari (right). Horizontal alignment (Chrome) is c

[2020-08-04 04:47] woowoowoo opened #66 "[BUG] Peeping jump nav overlays footer"
Not a serious bug, but if a page that uses jump nav is refreshed when the footer occupies the viewport, the scroll position is maintained in the browser. The jump nav then renders over the footer.

![Screen Shot 2020-08-04 at 2 34 12 pm](https://user-images.githubusercontent.com/848310/89254145-c7c57600-d661-11ea-8e45-2a684b140e18.png)

## Current behaviour
Because the page is not being scrolled,

[2020-08-18 04:24] #59 closed

[2020-08-26 04:10] jaredh-um opened #67 "[Enhancement] Mega menu timing"
The Gen 2 and 4 mega menus do not currently have any timing functionality to ensure users are actively trying to engage with a menu item - rather, the menu just immediately appears on hover, leading to accidental activation when the cursor is merely passing over the menu area. It also causes the menu to close immediately when hovering outside it.

The mega menu should have the following timing fun

[2020-09-02 06:19] #67 closed

[2020-10-06 04:23] tblundell opened #68 "[BUG] Global search overlay revealing page in Safari desktop browser"
This issue is for the global search in Safari desktop browser only.
For pages with a blue global nav - once the nav is reduced in height (page scrolled down) - the global search opens and still reveals a section the page behind. This cuts off the bottom search textfield and button.

For me this is only occurring with safari, and doesnt appear to be happening on pages using the home page template (

[2021-02-25 22:12] gepifanio opened #69 "[BUG] test"
## Expected behaviour

## Current behaviour

## Steps to reproduce

1.
2.
3.

### Affected browsers

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] IE 11
- [ ] Safari 8+
- [ ] iOS 8.4+
- [ ] Android 4.4+

## Possible solution

[2021-02-25 22:12] #69 closed

[2021-02-26 00:59] jaredh-um commented on #1
I've incorporated this as a design principle for Gen 4.

[2021-02-26 00:59] #1 closed

[2021-02-26 01:46] jaredh-um commented on #65
This issue appears to be resolved in Safari 14 but persists in Safari 13.1. Moving to `pattern-lib` repo to prioritise for fix.

[2021-03-01 02:19] jaredh-um commented on #18
Closing this issue as Gen 4 will by necessity have its own blockquote styling where we can resolve some of these past issues.

[2021-03-01 02:19] #18 closed

[2021-03-01 02:23] jaredh-um commented on #60
Hey @dkevey, has this one been resolved? Can't check the video but visiting the page example, it looks like the hamburger menu is gone... or maybe that was an override just done for this page?

[2021-03-08 03:11] gepifanio commented on #33
Hey @woowoowoo,

After analyzing the ticket and trying to work around how to get this done, we figured out that our tables at the moment are not ready to handle 2 rows of headings, which would mess up with the mobile view interface.

The suggestion instead of adding this new feature to handle 2 rows headings, would be better to use the `caption` tag after the `table` tag as shown in this example,

[2021-03-10 20:34] dkevey commented on #60
@jaredh-um @gepifanio I can't replicate either. Perhaps close this issue for now.

[2021-03-10 20:34] #60 closed

[2021-07-28 23:35] #19 closed

[2021-07-28 23:35] #15 closed

[2021-07-28 23:36] #26 closed

[2021-07-28 23:36] #33 closed

[2021-07-28 23:36] #2 closed

[2021-07-28 23:36] #64 closed

[2021-07-28 23:36] #68 closed

[2021-07-28 23:36] #66 closed